<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Evan Callia | Portfolio</title>
        <link rel="stylesheet" href="~/css/mainPage.css" />
        <link rel="icon" href="~/images/ecLogo.png">
    </head>
    <body id='page-top'>
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#page-top">Evan Callia</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#skills">Skills</a>
                        </li>
                        <li>
                            <a href="#projects">Projects</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="parallax parallax1">
            <div class="caption">
                <span class="block"><p class="bkg-gray h1">WELCOME TO MY PORTFOLIO</p></span>
                <span class="block"><p class="bkg-gray h2">I am a 22 year old full stack web developer seeking a full time position</p></span>
                <a href='#about' class='btn find-out'>Find Out More</a>
            </div>
        </div>

        <div id="about">
            <div class="container">
                <p class='center-text'>I attended the University of Washington Seattle and graduated with a degree in Geographic Information Systems. From there I decided to follow my passion and become a web developer.</p>
                <hr>
                <p class='center-text faded-gray'>I've since attended the Coding Dojo and learned four full stacks. I am currently a teaching assistant at the Coding Dojo helping students with C#.</p>
            </div>
        </div> 

        <div class="parallax parallax2"></div>

        <div id="skills">
            <div class="container center-text">
                <h2>Stacks and Skills</h2>
                <hr class='sm-line'>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 center-text skill-box">
                        <img class='logo' src="~/images/pythonLogo.png" alt="Python Logo">
                        <h2>Python</h2>
                        <p class='faded-dark-gray'>Python</p>
                        <p class='faded-dark-gray'>Django</p>
                        <p class='faded-dark-gray'>Flask</p>
                        <p class='faded-dark-gray'>AWS</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 center-text skill-box">
                        <img class='logo' src="~/images/appleLogo.png" alt="Apple Logo">
                        <h2>iOS</h2>
                        <p class='faded-dark-gray'>Swift 3</p>
                        <p class='faded-dark-gray'>Xcode</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 center-text skill-box">
                        <img class='logo' src="~/images/javascriptLogo.png" alt="JavaScript Logo">
                        <h2>MEAN</h2>
                        <p class='faded-dark-gray'>JavaScript</p>
                        <p class='faded-dark-gray'>MongoDB</p>
                        <p class='faded-dark-gray'>Express</p>
                        <p class='faded-dark-gray'>Angular JS</p>
                        <p class='faded-dark-gray'>Node JS</p>
                        <p class='faded-dark-gray'>React</p>
                        <p class='faded-dark-gray'></p>
                    </div>
                    <div class="col-lg-3 col-sm-6 center-text skill-box">
                        <img class='logo' src="~/images/cSharpLogo.png" alt="C# Logo">
                        <h2>C#</h2>
                        <p class='faded-dark-gray'>C#</p>
                        <p class='faded-dark-gray'>ASP.NET</p>
                        <p class='faded-dark-gray'>Dapper</p>
                        <p class='faded-dark-gray'>Entity</p>
                        <p class='faded-dark-gray'>MySQL</p>
                        <p class='faded-dark-gray'>Azure</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="projects"> 
            <div class="row">
                <div class="col-lg-4 col-sm-6 no-gutter project">
                    <img class='project-img' src="~/images/potLuckScreenshot.png" alt="Python Project">
                </div>
                <div class="col-lg-4 col-sm-6 no-gutter project">
                    <!--<img class='project-img' src="~/images/potLuckScreenshot.png" alt="Python Project">-->
                </div>
                <div class="col-lg-4 col-sm-6 no-gutter project">
                    <!--<img class='project-img' src="~/images/potLuckScreenshot.png" alt="Python Project">-->
                </div>
            </div>
        </div>

        <div id="contact">
            <div class="container center-text">
                <h2>Lets Get In Touch</h2>
                <hr class='sm-line'>
            </div> 
            <div class="container center-text"> 
                <div class="row">
                    <div class="col-md-3 col-sm-6 center-text contact-box">
                        <img class='logo-sm' src="~/images/phoneLogo.png" alt="Phone Logo">
                        <h5>206-714-0563</h5>
                    </div>
                    <div class="col-md-3 col-sm-6 center-text contact-box">
                        <img class='logo-sm' src="~/images/emailLogo.png" alt="Email Logo">
                        <h5><a href="mailto:calliaevan12@gmail.com">calliaevan12@gmail.com</a></h5>
                    </div>
                    <div class="col-md-3 col-sm-6 center-text contact-box">
                        <img class='logo-sm' src="~/images/githubLogo.png" alt="Github Logo">
                        <h5><a href="https://github.com/evcallia">https://github.com/evcallia</a></h5>
                    </div>
                    <div class="col-md-3 col-sm-6 center-text contact-box">
                        <img class='logo-sm' src="~/images/linkedInLogo.png" alt="Linked In Logo">
                        <h5><a href="https://www.linkedin.com/in/evancallia">https://www.linkedin.com/in/evancallia</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
